/releases/
/maxs-binary/
/config
/.idea/

# Ignore the gradle wrapper
gradle/
gradlew
gradlew.bat

.d

lint.xml
lint-report.html
lint-report_files/
lint-report-full.html
lint-report-full_files/

libs-sources/
