<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.projectmaxs.main"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="org.projectmaxs.permisson.CHALLENGE_REGISTER"/>
    <permission android:name="org.projectmaxs.permission.USE_MAIN"/>
    <application android:label="@string/app_name" >
        <activity android:name="org.projectmaxs.main.panels.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="org.projectmaxs.main.MAXSLocalService">
            <intent-filter>
                <action android:name="org.projectmaxs.main.START_SERVICE"/>
                <action android:name="org.projectmaxs.main.STOP_SERVICE"/>
                <action android:name="org.projectmaxs.main.BIND_MAIN_SERVICE"/>
            </intent-filter>
        </service>
    </application>
</manifest> 
