<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.projectmaxs.main"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>

    <permission android:name="org.projectmaxs.permission.USE_MAIN"/>
    <uses-permission android:name="org.projectmaxs.permission.USE_MODULE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:label="@string/app_name" android:allowBackup="true">
        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AdvancedSettings" />
        <activity android:name=".activities.Modules" />
        <activity android:name=".activities.ImportExportSettings" />
        <service android:exported="false" android:name=".MAXSService">
            <intent-filter>
                <action android:name="org.projectmaxs.main.START_SERVICE"/>
                <action android:name="org.projectmaxs.main.STOP_SERVICE"/>
                <action android:name="org.projectmaxs.main.NETWORK_STATUS_CHANGED"/>
            </intent-filter>
        </service>
        <service android:name=".MAXSIntentService"
            android:permission="org.projectmaxs.permission.USE_MAIN">
            <intent-filter>
                <action android:name="org.projectmaxs.main.REGISTER_MODULE"/>
                <action android:name="org.projectmaxs.main.SET_RECENT_CONTACT"/>
                <action android:name="org.projectmaxs.main.UPDATE_STATUS"/>
                <action android:name="org.projectmaxs.main.SEND_USER_MESSAGE"/>
                <action android:name="org.projectmaxs.main.EXPORT_TO_FILE"/>
                <action android:name="org.projectmaxs.main.IMPORT_EXPORT_STATUS"/>
            </intent-filter>
        </service>
        <service android:name=".MAXSRemoteService"
            android:permission="org.projectmaxs.permission.USE_MAIN">
            <intent-filter>
                <action android:name="org.projectmaxs.main.BIND_SERVICE"/>
            </intent-filter>
        </service>
        <receiver android:name=".receivers.NetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest> 
